HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
/env.properties
/.env.*
/config/application-*.properties
/backups/
*.log
/target/
/.idea/
/.settings/
*.keystore
env.properties
*.jks
/keystore.p12
*.p12
/secrets/
logs/
.mvn/
mvnw
mvnw.cmd
src/main/resources/keystore.p12
!.mvn/wrapper/maven-wrapper.jar
.bfg-report/

# Base de datos
*.db
*.sqlite
*.mdf
*.ldf
/data/
/database/*.sqlite
/database/*.backup

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
##############################
## Java
##############################
.mtj.tmp/
*.class
*.jar
*.war
*.ear
*.nar
hs_err_pid*
replay_pid*

##############################
## Maven
##############################
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
pom.xml.bak
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
##############################
## IntelliJ
##############################
out/
.idea/
.idea_modules/

