version: "1"

services:
  - type: web
    name: mi-backend-spring
    env: docker
    dockerfilePath: ./Dockerfile
    dockerContext: .
    plan: free
    autoDeploy: true
    numInstances: 1
    healthCheckPath: /api/health
    healthCheckTimeout: 10
