# render.yaml CORREGIDO PARA MySQL
version: "1"

services:
  - type: web
    name: mi-backend-spring
    env: docker
    dockerfilePath: ./Dockerfile
    dockerContext: .
    plan: free
    autoDeploy: true
    envVars:
      # Perfil Spring
      - key: SPRING_PROFILES_ACTIVE
        value: prod

      # JWT
      - key: JWT_SECRET
        generateValue: true
